.wrapperInput {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  .input {
    margin-right: 10px;
  }
  .buttonGroup {
    display: flex;
    flex-wrap: nowrap;
    :not(:last-child) {
      margin-right: 10px;
    }
  }
}