:global(.ui.modal) {
  > :global(.header).header {
    display: flex;
    justify-content: space-between;
  }
  > :global(.content) {
    .wrapperByEmail {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 15px;
      > *:first-child {
        margin-right: 10px;
        width: 70%;
        flex-grow: 1;
      }
      > *:last-child {
        flex-grow: 1;
        margin: 0;
      }
    }
  }
}
