.userStatus {
  color: gray;
  margin-top: 3px;
  :not(:last-child) {
    margin-right: 5px;
  }
  :last-child {
    cursor: pointer;
  }
}
:global(.ui.container) {
  .input {
    padding: 0;
    border: hidden;
    outline: none;
    max-width: 100px;
    margin-right: 5px;
  }
  .button {
    padding: 0 5px;
  }
}
.editStatus {
  margin-top: 3px;
  display: inline-flex;
  flex-wrap: nowrap;
}
