:global(.ui) {
  .comment {
    overflow: auto;
  }
}
.status {
  padding-top: 5px;
  padding-bottom: 5px;
}
.wrapperButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapperSocial {
  align-items: center;
  display: flex;
}
