:global(.list) {
  .imageWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    .image {
      margin-right: 10px;
      width: 100px;
    }
    .label {
      margin: 0 0 0 10px;
      cursor: pointer;
    }
  }
}
.cropedWrapper {
  box-sizing: border-box;
  padding: 15px;
}
:global(.ui.modal) {
  .cropFooter {
    display: flex;
    align-items: flex-end;
    .button {
      margin-left: 25px;
    }
  }
}